body {
    background-color: #d3d3d3;
    color: #000000;
}

.mainList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
}

.itemRed {
    background-color: #f1f500;
}

li:hover {
    font-weight: bolder;
    text-decoration: line-through 2px;
}

#parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.colorpicker {
    height: 24px;
}

.smol {
    height: 5px;
}

@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes shrink {
    0% {height: 24px;}
    100% {height: 0px;}
}