.mainList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.lable {
    outline: black;
    outline-style: auto;
}

.lableRed {
    background-color: rgb(212, 27, 27);
    color: white;
    outline: black;
    outline-style: auto;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.smol {
    height: 5px;
}